*.pyc
__pycache__
SG_Dataset
SG_Customs
result.txt
Direction_Classify/inference/ch_ppocr_mobile_v2.0_cls_infer
Direction_Classify/inference/ch_ppocr_server_v2.0_det_infer
Direction_Classify/inference/ch_ppocr_server_v1.1_det_infer
layoutlms/layoutlm/deprecated/examples/seq_labeling/data
layoutlms/layoutlm/deprecated/examples/seq_labeling/output
detectron2
*.lock
layoutlms/layoutlmft/data/
layoutlms/layoutlmv2/data/
*.pdiparams
*.pdmodel
http.log
data/test.txt
data/test_image.txt
data/test_box.txt
*.tmp
models/._ch_ppocr_server_v2.0_rec_infer
models/ch_ppocr_server_v2.0_det_infer/
models/ch_ppocr_server_v2.0_rec_infer/
PaddleOCR
ch_ppocr_server_v2.0_det_infer.tar
ch_ppocr_server_v2.0_rec_infer.tar
ch_ppocr_mobile_v2.0_cls_infer.tar
PaddleOCR-release-2.4.zip
models/layoutlm
models/layoutlmv2_base
models/layoutlmv2_large
layoutlms/layoutlm/deprecated/examples/seq_labeling/layoutlm-base-uncased
