*.pyc
__pycache__
SG_Dataset
SG_Customs
result.txt
Direction_Classify/inference/ch_ppocr_mobile_v2.0_cls_infer
Direction_Classify/inference/ch_ppocr_server_v2.0_det_infer
Direction_Classify/inference/ch_ppocr_server_v1.1_det_infer
layoutlms/layoutlm/deprecated/examples/seq_labeling/data
layoutlms/layoutlm/deprecated/examples/seq_labeling/output
detectron2
*.lock
layoutlms/layoutlmft/data/
layoutlms/layoutlmv2/data/
models
http.log
data/test.txt
data/test_image.txt
data/test_box.txt

